.main-view {
	width: 636px;
	height: 636px;
	align: center;
	margin: auto;
	box-sizing: border-box;
	background-color: black;
	border: 3px dotted lightgreen;
}

.information-view {
	width: 630px;
	height: 630px;
	align: center;
	box-sizing: border-box;
	background-color: grey;
	border: 3px solid black;	
}

main-view-text {
	color: white;
}

.bottom-view {
	width: 636px;
	height: 50px;
	align: center;
	margin: auto;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid black;
}


.tile-row-large {
	width: 632px;
	height: 70px;
	box-sizing: border-box;
	background-color: green;
	border: 1px solid red;
}

.tile {
	float: left;
	background-color: black;
	width: 70px;
	height: 70px;
	box-sizing: border-box;
	border: 3px dotted lightgreen;	
}

.tile-small {
	float: left;
	background-color: black;
	width: 45px;
	height: 45px;
	box-sizing: border-box;
	border: 3px dotted lightgreen;	
}